          <img class="banner" src="http://www.loveitaly.net/img/cms/CHI-SIAMO_1.jpg">
		  <p class="TestoInformativo">
			LoveItaly è un vero e proprio mercato agricolo online per la commercializzazione e valorizzazione
			delle produzioni alimentari locali. La logica di base è infatti esattamente la stessa di un tradizionale
			mercato cittadino, ma tutto è basato su una piattaforma online, accessibile sia da dispositivi mobili
			(smartphone e tablet) che desktop, con la quale mettiamo in contatto produttori e consumatori di una stessa
			zona e organizziamo la consegna della spesa a domicilio.
			</br>
			</br>
			Con LoveItaly puoi così fare la spesa in pochi minuti! Ti basta:
			</br>
			</br>
			&nbsp 1. Selezionare il comune in cui desideri ricevere la spesa;
			</br>
			&nbsp 2. Iscriverti gratuitamente;
			</br> 
			&nbsp 3. Riempire il carrello con i prodotti della tua terra;
			</br> 
			&nbsp 4. Confermare l'ordine e attendere comodamente a casa la consegna della spesa, freschissima e di qualità!
			</br>
			</br>
			Inoltre, attraverso il blog e i canali social, puoi conoscere più da vicino i produttori e le loro storie,
			seguire i tuoi prodotti ed apprendere nuove e gustose ricette, rigorosamente di stagione.
			</br>
			</br>
			Fare la spesa a km zero è una scelta di consumo che valorizza la produzione locale e recupera il legame con
			le origini, esaltando gusti, sapori tipici e tradizioni gastronomiche.
			</br>
			</br>
			LoveItaly è riscoperta del legame tra persone e territorio, vicinanza ai valori della terra, amore per la natura,
			risparmio, sostenibilità, freschezza e genuinità.
			</br>
			</br>
			LA NOSTRA MISSION è quella di promuovere un nuovo ed innovativo modello di spesa, che valorizzi le produzioni locali,
			permetta al consumatore di riscoprire i sapori della campagna e di risparmiare tempo e contribuisca a perseguire uno
			sviluppo sostenibile.
			</br>
			</br>
			I NOSTRI OBIETTIVI:
			</br>
			</br>
			&nbsp • Promuovere, incentivare e valorizzare la produzione alimentare locale;
			</br>  
			&nbsp • Attivare ed ottimizzare una filiera corta in grado di fornire al consumatore
			 finale un prodotto a km zero, capace di esaltare qualità e tradizione;
			</br>  
			&nbsp • Perseguire uno sviluppo sostenibile, minimizzando i costi ambientali di trasporto;
			</br>  
			&nbsp • Donare prezioso tempo libero al consumatore finale riducendo il tempo necessario per fare la spesa.
			</br>
			</br>
			Con LoveItaly vogliamo riportare sulle nostre tavole i profumi ed i sapori della nostra terra, nel rispetto della
			passione che nutriamo per il nostro territorio, dei valori che i nostri nonni ci hanno trasmesso e dell’attenzione
			che riserviamo al futuro dei nostri figli. 
		  </p>
		  
		  <footer id="Footer">
			<hr id="SeparatoreFooter">
			Loveitaly s.r.l.s.
			</br>
			P.IVA e N. iscr. al R.I. 02464240692
          </footer>