          <img class="banner" src="http://www.loveitaly.net/img/cms/DOMANDE-UTILI_1.jpg">
		  <p class="TestoInformativo">
          
          In questa sezione potrai trovare la risposta a tutte le domande. 
          </br>
          </br>          
          SIAMO QUI PER AIUTARTI
          </br>
          </br>          
          E se non trovi la risposta che fa per te puoi lasciarci un messaggio attraverso il form
          in basso a sinistra: ti risponderemo in massimo 24 ore.
          </br>
          </br>          
          MA CONTROLLA BENE: MOLTO PROBABILMENTE SIAMO ON-LINE!
          </br>
          </br>          
          Se in basso a destra troverai il form della chat con la scritta SIAMO ON-LINE puoi scriverci direttamente,
          riuscendo ad avere risposte immediate alle tue domande.
          </br>
          </br>          
          Vogliamo comunicare la nostra passione stando vicini alla terra ma soprattutto ai nostri clienti,
          in modo da offrire un servizio sempre migliore.
          </br>
          </br>          
          Dov’è attivo il servizio?
          </br>
          </br>          
          Attualmente LoveItaly è attivo in Abruzzo nei comuni di: Castel Frentano, Fossacesia, Frisa, Lanciano,
          Mozzagrogna, Ortona, Rocca San Giovanni, Santa Maria Imbaro, San Vito Chietino e Treglio.
          </br>
          </br>          
          Quando viene effettuata la consegna della spesa?
        </br>
          </br>         
          La consegna della spesa viene effettuata il martedì e il venerdì, tra le 10.00 e le 19.00,
          ma sei tu a scegliere la data tra quelle disponibili nel calendario. Gli ordini per il martedì si chiudono
          la domenica sera e quelli del venerdì il mercoledì sera.
        </br>
          </br>         
          Vivo a Roma ma vorrei fare la spesa per i miei genitori che sono a Lanciano. Posso farlo?
          </br>
          </br>          
          Certo. Anche se sei registrato con il tuo indirizzo di Roma, puoi tranquillamente acquistare e far recapitare
          la spesa ai tuoi genitori a Lanciano. Ti basta selezionare il comune di Lanciano ed indicare,
          in fase di conferma dell'ordine, l'indirizzo dei tuoi genitori.
          </br>
          </br>          
          Posso effettuare il pagamento in contanti?
          </br>
          </br>          
          Si. È possibile pagare la spesa anche in contanti alla consegna.
          </br>
          </br>          
          Non posso essere presente alla consegna. Che posso fare?
          </br>
          </br>          
          Se hai dei problemi nel farti trovare alla consegna puoi segnalarcleo in fase di ordine nell'apposito spazio.
          </br>
          </br>          
          C’è un limite minimo di spesa?
          </br>
          </br>          
          Si. 25 euro è il limite minimo di spesa (fino al 15 luglio ridotto a 18 euro).
          </br>
          </br>          
          Una volta concluso l'ordine, riceverò una e-mail di conferma del mio ordine?
          </br>
          </br>          
          Si. Una volta completato l’ordine sul sito, riceverai immediatamente una e-mail di conferma dell'ordine,
          in cui visualizzerai l'elenco dei produttori da cui hai acquistato e i relativi prodotti.
          </br>
          </br>         
          Sono un produttore agricolo e vorrei associarmi a LoveItaly. Come posso fare?
          </br>
          </br>          
          È sufficiente inviarci una e-mail tramite l’apposito modulo di contatto, selezionando nell'oggetto "Adesioni".
          Basterà indicare i suoi dati aziendali (nome, luogo in cui ha sede) ed un riferimento telefonico. Saremo noi a ricontattarla.
          </br>
          </br>          
          Quanto costa il servizio?
          </br>
          </br>          
          L’iscrizione al sito è totalmente gratuita e i prezzi dei prodotti sono visibili di fianco a ciascuno di essi. La consegna è GRATUITA.
          Solo un costo di gestione ordine di 2,00 euro viene aggiunto al totale della spesa per ogni acquisto
          (l'informazione è chiaramente visibile nella pagina del carrello).
          </br>
          </br>          
          Posso scegliere l’ora della consegna?
          </br>
          </br>          
          No. Ma cercheremo sempre di contattarti con un po’ di anticipo per darti un’indicazione sull’orario di consegna.
          </br>
          </br>          
          Posso cambiare i miei dati di iscrizione?
          </br>
          </br>         
          Si. Ti basterà entrare nel tuo profilo e modificare le informazioni che desideri.          
		  </p>
		  
		  <footer id="Footer">
			<hr id="SeparatoreFooter">
			Loveitaly s.r.l.s.
			</br>
			P.IVA e N. iscr. al R.I. 02464240692
          </footer>