
         <div id="LoginContainer">
                <img id="logo" alt="logo" src="http://imageshack.com/a/img922/8706/XEJvOX.png"
        </div>
        <div id="StrutturaLogin">
            <form  id="login">
                <h2 class="TestoAccesso">Effettua l'Accesso</h2>
                <label class="TestoCampiLogin">E-Mail</label>
                <input id="email" class="InputLogin" type="email" placeholder="" required>
                <label  class="TestoCampiLogin">Password</label>
                <input id="password" class="InputLogin" type="password" placeholder="" required>
                <a id="buttonlogin" class="btn ButtonEntra" class="btn btn-positive btn-block">Entra</a>                
            </form>           
            <a id="ForgetPSW" href="http://www.loveitaly.net/password-recupero">Ho dimenticato la password</a>            
            <hr id="Separatore">
            <h2 class="TestoAccesso">Sei nuovo?</h2>
            <button id="ButtonRegistrati" class="btn btn-negative btn-block">Registrati</button>
            <h2 class="TestoAccesso">Entra come ospite</h2>
            <form>
            <label id="TestoLocalita">Scegli la località</label>                                
                        <select name="Localita" id="Localita" required>
                            <option value="null">Dove Sei?</option>                            
                            <option value="castelfrentano">Castel Frentano (CH)</option>
                            <option value="frisa">Frisa (CH)</option>
                            <option value="lanciano">Lanciano (CH)</option>
                            <option value="mozzagrogna">Mozzagrogna(CH)</option>
                            <option value="ortona">Ortona (CH)</option>
                            <option value="roccasangiovanni">Rocca San Giovanni (CH)</option>
                            <option value="santamariaimbaro">Santa Maria Imbaro (CH)</option>
                            <option value="sanvitochietino">San Vito Chietino (CH)</option>
                            <option value="treglio">Treglio (CH)</option>
                        </select>
            <a id="buttonospite" class="btn ButtonEntra" class="btn btn-positive btn-block">Entra</a>
            </form>
        </div>