<p id="TestoAcquisto1">Grazie per aver acquistato su LoveItaly</p>
		  <div id="ContainerIMGacquisto">
			   <img id="IMGacquisto" src="http://www.loveitaly.net/modules/tmhomeslider/img/f34b783aa21707018587a1dd7f73029c.jpg">
		  </div>
		  <p id="TestoAcquisto2">Il tuo ordine é stato ricevuto con successo! Presto riceverai un e-mail di conferma con tutti i dettagli dell'ordine</p>
		  <div id="NavStepCarrello" class="col s12">
               <a href="#!" class="breadcrumb material-icons">shopping_cart</a>
               <a href="#!" class="breadcrumb material-icons">store</a>
               <a href="#!" id="StepAttivo" class="breadcrumb material-icons">done</a>
          </div>		  
		  <a id="home" class="btn ButtonEntra">Vai alla Home</a>