
   <div id="ContainerCarrello">	  
       <span id="TestoCarrello">Il Mio Profilo</span>
	   </br>
	   </br>	   
	   <div class="collection" id="CollectionBianca">		  			
         <div class="collection-item">
            <span class="TestoCampiLogin">Nome</span>
                <input disabled class="InputLogin" id="nome" type="text" placeholder="{{nome}}" required>
                  <span class="TestoCampiLogin">Cognome</span>
                <input disabled class="InputLogin" id="cognome" type="text" placeholder="{{cognome}}" required>
                 <span class="TestoCampiLogin">E-Mail</span>
                <input disabled class="InputLogin" id="numero" type="email" placeholder="{{email}}" required>

		 </div>
            <a id="storico" class="collection-item">
			  
			  <span class="TestoSottotitolo3">Storico e Dettagli degli Ordini</span>
			  <div class="breadcrumb FrecciaProfilo" ></div>
			</a>			
            <a id="indirizzo" class="collection-item">
			   
			  <span class="TestoSottotitolo3">I Miei Indirizzi</span>
			  <div class="breadcrumb FrecciaProfilo" ></div>
			</a>
           
			  
		
           				
         
	 
       
   </div>