   
          
	   <div id="ContainerCarrello">	  
       <span id="TestoCarrello">{{name}}</span>
	   </br>
	   </br>
        <div class="ContainerAzienda">
	        <label class="TestoGrigioBold">Chi Siamo</label>
			<p class="TestoGrigio">{{short_description}}</p>		
	    </div>
        <div class="ContainerAzienda2">
	        <label class="TestoGrigioBold">Dove Siamo</label>
			<p class="TestoGrigio">{{contatti}}</p>
			<div id="mapid"></div>
	    </div>	   

	    <div class="collection NoMargin"> 	   	
            <a href="#productsbyman/{{id}}" class="collection-item" id="ItemAzienda">	 
			  <span class="TestoGrigioBold">Prodotti</span>
			  <div class="breadcrumb" id="FrecciaProdottiAzienda"></div>
			</a>		 
        </div>
	   </div>
	   
	   
	   


