        <div id="LoginContainer">
                <img id="logo" alt="logo" src="http://imageshack.com/a/img922/8706/XEJvOX.png"
        </div>
        <div id="StrutturaLogin">
            <form id="signup">
                <h2 class="TestoAccesso">I Tuoi Dati Personali</h2>	
				<span class="TestoCampiLogin" id="sesso">Titolo</span>					
			        <input class="with-gap" name="group1" type="radio" id="test1" required/>
                    <label for="test1">Sig.</label>
				    <input class="with-gap" name="group1" type="radio" id="test2" />
                    <label for="test2">Sig.ra</label>			
                <span class="TestoCampiLogin">Nome</span>
                <input class="InputLogin" id="nome" type="text" placeholder="" required>
                <span class="TestoCampiLogin">Cognome</span>
                <input class="InputLogin" id="cognome" type="text" placeholder="" required>
                <span class="TestoCampiLogin">E-Mail</span>
                <input class="InputLogin" id="email" type="email" placeholder="" required>
				
                <span class="TestoCampiLogin">Password</span>
                <input class="InputLogin" id="password" type="password" placeholder="" required>
			   
                <a id="buttonsignup" class="btn ButtonEntra" class="btn">Registrati</a>				
            </form>
			