
       <header id="header">

<div class="navbar-fixed">
   <nav id="NavigationBar">
  
            <a data-activates="slide-out" id="menu-button" class="button-collapse"><i class="mdi-navigation-menu material-icons">menu</i></a>
            <img id="Logo"
                 src="http://www.loveitaly.net/img/Logo-orizzontale-per-home.png"
                 alt="logo_love_italy"
                 width=100%>
            <a  id="PulsanteCarrello" class="material-icons">shopping_basket</a>
            <div id="cont"></div>
                           
          
   </nav>
</div>

        <ul id="slide-out" class="side-nav">
            
            <div id="menu" class="lightGreenEl">
              <li><a id="home">Home</a></li>
              <li><a id="categorie">Categorie</a></li>
              <li><a id="chisiamo">Chi Siamo</a></li>
              <li><a id="howto">Come Funziona</a></li>
              <li><a id="faq">Domande Utili</a></li>
              <li><a id="aziende">Le Aziende</a></li>
              <li id="log"><a id="login">Login/Registrazione</a></li>
              <li id="logout"><a>Logout</a></li>
              <li id="profilo" ><a id="reserved">Area Riservata</a></li>
            </div>
        </ul>





















</header>


<div id="content" class="content" style="overflow:auto;">


</div>




  
