/* STANDARD FOR MOBILE */
* {
  /* transparent link and button selection */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
}

body {
  -webkit-touch-callout: none;
  /* no callouts during tap and hold */
  -webkit-text-size-adjust: none;
  /* no fonts auto inflation */
  -webkit-user-select: none;
  /* no copy and paste, etc. */
  background-attachment: fixed;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto !important;  
}

/* END STANDARD MOBILE */

/*//////////////////////////////NAVIGATION BAR/////////////////////////*/
#NavigationBar {  
  background-color: rgb(16, 127, 63) !important;
  height: 66px !important;

}

#Logo {
  position: absolute;
  width: 211px;
  height: 56px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;      
}

#PulsanteCarrello {
  position: absolute;
  width: 30px;
  height: 29px;
  font-size: 2.2rem;
  margin: auto;
  margin-right: 3%;
  margin-top: 13px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;  
}


#Menu {  
  margin-top: 17px;
  margin-left: 3%;
  height: 24px;
  width: 30px;
}

#Cerca {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;  
  width: 90%;
}

#Input {
 margin-bottom: 0;
 height: 35px;
 border: 1px solid rgb(204, 204, 204);
 padding-left: 10px;
 border-radius: 2px;
 font-size: 17px;
 box-sizing: border-box;
 box-shadow: 0 0 0 0;
}

*::-moz-placeholder {
    color: rgb(51, 51, 51) !important;
}

.side-nav a {  
  color: black !important;
  font-family: "Roboto";
  border-bottom: 1px solid #cccccc;
  font-size: 16px !important;
  height: 46px !important;
  line-height: 46px !important;
}

.side-nav {
  background-color: #f2f2f2 !important;
  top: 66px !important;
}

#menu-button {  
  margin-left: 2%;
}

#cont{
  background-color: #e60000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;  
  font-weight: bold;
  text-align: center;
  float: right;
  margin-top: 30px;
  margin-right: 2%;
  position: relative;  
}

/*/////////////////////FOOTER/////////////////////////////////////////*/

#Footer {
  color: #777777;
  text-align: center;
}

#SeparatoreFooter {
  color: black;
  width: 90%;
}
/*//////////////////////PAGINA PRODOTTO/////////////////////////////////*/

#Categorie {
  background-color: rgb(16, 127, 63);
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 4px;
  width:90%;
  height: 40px;
  padding: 3px;
}

#TestoCategorie{
  float: left;
  margin-left: 5%;
  font-weight: bold;  
}

#FrecciaSX {
  margin-left: 4%;
  display: block;  
  height: 15px;
  margin-top: 10px;
  float: left;
}

#NomeProdotto {
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
  color: #777777;
}

#Azienda {
  margin-left: 5%;
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 5%;
  color: #777777;
}

#TestoDisponibileLarge {
  color: rgb(16, 127, 63) !important;  
  font-size: 20px !important;
  font-weight: bold;  
  line-height: 25px !important;
  margin-left: 5%;  
}

#Prezzo {
  float: right;
  font-weight: bold;
  font-size: 24px;
  margin-right: 5%;
  color: rgb(16, 127, 63);
}

#ImmagineProdotto {
  border: 5px solid #ebebeb;
  height: 100px;
  margin: auto;  
}


.QuantitaPeso {
  font-weight: 700;
  font-size: 13px;
  margin-left: 5%;
  color: #777777;
  display: inline-block;
}

.SelezioneQuantita {
  color: #777;
  float: right;
  font-size: 14px;
  height: 30px;
  margin-bottom: 0;
  margin-right: 5%;
  margin-top: 7px;
  padding: 0;
  width: 60px;
}

.SelezionePeso {
  color: #777;
  float: right;
  font-size: 14px;
  height: 30px;
  margin-right: 5%;
  padding: 0;
  width: 60px;
  margin-top: 7px;
}

#AddCarrello {
  background-color: rgb(16, 127, 63);
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  width:90%;
  height: 60px;
  padding: 3px;
  line-height: 55px;
  font-weight: bold;
  font-size: 14px;
}

#AddDesideri {
  background-color: white;
  color: #929292;
  border: 1px solid #929292;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  width:90%;
  height: 40px;
  padding: 3px;
  overflow: hidden;
  line-height: 30px;
  font-weight: bold;
  font-size: 10px;
}

.MargineL5{
  margin-left: 5%;
}

.SliderIMGProdotto {  
  max-width: 400px !important;
  margin: auto;
}




/*////////////////LISTA PRODOTTI PER CATEGORIA///////////////////////////*/

#NomeCategoria {
  display: inline-block;
  margin-left: 5%;
  margin-top: 2%;  
  font-size: 18px;
  font-weight: bold;
}

#Ordina {
  width: 100px;
  height: 30px;
  padding: 0px;
  float: right;
  margin-right: 5%;
  margin-bottom: 0px;
  margin-top: 2%;
}

.ImmagineLista {
  position: absolute;
  max-width: 100%;
  max-height: 100%;  
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
}

.NomeProdottoLista {
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  margin-left: 5%;
  color: #777;
}

.AziendaProdottoLista {
  position: absolute;
  font-size: 14px;
  margin-left: 5%;
  margin-top: 22px;
  color: #777;
  line-height: 15px !important;
}

#DisponibileLista{
  position: absolute;
  height: 25px;
  width: 100px;
  background-color: rgb(16, 127, 63) !important;
  margin-bottom: 0;
  margin-left: 5%;
  margin-top: 50px;
  color: white !important;
  border-radius: 0;
  overflow: hidden;  
  font-size: 12px;
  padding: 0;
  line-height: 0;
}
  
.ContainerIMG {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  vertical-align: middle;
  border: 3px solid #f6f6f6;
} 

.collection .collection-item {
  padding: 10px 10px !important;  
}  

.PrezzoLista {  
  float: right;
  font-weight: bold;
  font-size: 20px; 
  color: rgb(16, 127, 63);
  margin-top: 80px;
  margin-right: 2%;
}



/*///////////////LOGIN////////////////////*/

#LoginContainer {
  position: absolute;
  background-color: rgb(16, 127, 63);
  min-height: 100%;
  width: 100%;
}

#logo {
  position: absolute;
  width: 74px;
  height: 70px;
  margin: auto;
  top: 4px;
  left: 0;
  right: 0;
  z-index: 1;
}

#StrutturaLogin {
  padding-top: 2%;
  background-color: white;
  margin: auto;
  margin-top: 58px;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
}

.TestoAccesso {
  text-align: center;
  font-weight: bold;
  font-family: "Roboto";
  font-size: 20px;
  margin-top: 7%;
  margin-bottom: 2%;
  
}

.TestoCampiLogin {
  display: block;
  color: grey;
  font-weight: bold;
  margin-left: 7.5%;
  margin-right: 7.5%;  
  font-size: 15px;
  
}

.InputLogin{
  height: 30px !important;
  margin: auto !important;
  margin-left: 7.5% !important;
  margin-right: 7.5% !important;
  margin-bottom: 2% !important;
  width: 81.5% !important;
  border: 1px solid rgb(204, 204, 204) !important; 
  border-radius: 0;
  overflow: hidden;
  padding-left: 3% !important;
  font-size: 12px;  
}


.ButtonEntra{  
  margin-left: 7.5%;
  margin-right: 7.5%;
  margin-bottom: 3%;
  width: 85%;
  height: 50px;
  color: white;
  background-color: rgb(16, 127, 63);
  font-family: verdana;
  font-weight: bold;
  padding: 0;
  line-height: 50px;
}

.btn:hover,
.btn-large:hover {
  background-color: rgb(16, 127, 63);
}

#ForgetPSW { 
  margin-left: 7.5%;
}

#Separatore {
  width: 90%;    
  border-top: 1px solid;
  color: #ddd;
}

#ButtonRegistrati {
  width: 85%;
  height: 40px;
  font-family: verdana;  
  margin-left: 7.5%;
  padding: 0;
  background-color: #f44;
  font-weight: bold;
}

#TestoLocalita {
  color: rgb(16, 127, 63);
  font-weight: bold;
  margin-top: 10%;
  margin: 7.5%;
  font-size: 12px;
  font-family: "Roboto";  
}

#Localita {
  display: inline;
  margin-left: 7.5%;
  margin-bottom: 3%;
  width: 85%;
}

/*////////////////////HOME///////////////////*/

#FrecciaDX {  
  display: block;
  margin-left: 85%;
  height: 15px;
  margin-top: 10px;
}

.TestoHome {  
  font-weight: bold;
  display: block;
  margin: auto;
  margin-top: 2%;
  text-align: center;
  
}

.slick-dots {
    bottom: 0 !important;
    position: static !important;
    margin-bottom: 10px;
}

.slick-dotted.slick-slider {
    margin-bottom: 0 !important;
}

.slick-dots li button::before {
  font-size: 25px !important;
}

.NomeProdottoHome {
  font-size: 16px;
  text-align: center;
  margin-bottom: 0;
  color: #777;
  font-weight: bold;
}

.NomeAziendaHome {
  font-size: 14px;
  text-align: center;
  margin-top: 0;
  color: #777;
}

.imgslider {
  max-height: 200px;
  min-height: 200px;
  width: auto !important;
  bottom: 0;
  left: 0;
  margin: auto;
  right: 0;
  top: 0;
}

.row .col.s6 {  /*scheda*/
  height: 100px;
  float: none;
  left: auto;
  margin-left: auto;
  right: auto;
  text-align: center !important;
  width: 100%;
  background-color: #f6f6f6;
}

.card-image {
  border: 5px solid #f6f6f6;
  border-bottom: none;
}

.PrezzoHome {
  font-size: 20px;
  font-weight: bold;
  color: rgb(16, 127, 63) !important;
  text-align: center;
}

.slick-dots li.slick-active button::before {
  color: rgb(16, 127, 63) !important;
}

/*///////////////////////PAGINE INFORMATIVE//////////////////*/

.banner {
  height: 80px;
  margin-top: 6px; 
  max-width: 100%;
}

.TestoInformativo {
  color: #777777;
  font-family: Open Sans,Helvetica,sans-serif;
  line-height: 18px;
  margin-left: 5px;
  margin-right: 5px;
}

/*/////////////////////REGISTRAZIONE/////////////////////////*/

#sesso {
  display: inline-block;
  margin-left: 7.5%;
  margin-bottom: 3%;
}

[type="radio"]:checked + label::after, .with-gap[type="radio"]:checked + label::after {
  background-color: #f44 !important;
}

[type="radio"]:checked + label::after, .with-gap[type="radio"]:checked + label::before, .with-gap[type="radio"]:checked + label::after {
  border: 2px solid #f44 !important;
}


#NavStepRegistrazione {
  background-color: #fff;
  text-align: center;  
}

.breadcrumb::before { /*freccette*/
  color: #d9d9d9 !important;  
}

.breadcrumb {
  color: #d9d9d9 !important;  
}

#StepAttivo {
  color: rgb(16, 127, 63) !important;
}

#ButtonIndietro {
  margin-left: 7.5%;
  margin-right: 7.5%;
  margin-bottom: 3%;
  width: 85%;
  height: 30px;
  color: #777777;
  border: 1px solid #929292;
  background-color: #fff;  
  font-weight: bold;
  padding: 0;
  line-height: 30px;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav { /*ombre bottoni*/
    box-shadow: none !important;
}

.SceltaLuoghi {
  height: 30px !important;
  margin: auto !important;
  margin-left: 7.5% !important;
  margin-right: 7.5% !important;
  margin-bottom: 2% !important;
  width: 85% !important;
  border: 1px solid rgb(204, 204, 204) !important; 
  border-radius: 0;
  overflow: hidden;
  padding-left: 3% !important;
  font-size: 12px;    
}

#TerminieCondizioni {
  margin-left: 7.5%;
  margin-right: 7.5%;
}

.filled-in[type="checkbox"]:checked + label::after {
  background-color: rgb(16, 127, 63) !important;
  border-color: rgb(16, 127, 63) !important;
}

/*//////////////////////////CARRELLO////////////////////////////*/

#ContainerCarrello {
  background-color: #f6f6f6;
}

#TestoCarrello {
  float: left;
  font-weight: bold;
  font-size: 20px;
  font-family: "Roboto";
  margin-left: 5%;
  margin-top: 10px;
  color: rgb(16, 127, 63);
}

.ContainerIMGCarrello {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  vertical-align: middle;
  border: 1px solid #dddddd;
}

.TestoQuantitaCarrello {
  display: block;  
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
  color: #777777;
}

.QuantitaCarrello {
  display: block;
  font-weight: 700;
  font-size: 13px;
  margin-left: 45%;
  margin-top: -25px;
  color: #777777;  
  width: 60px;
  height: 30px;  
}

.Elimina {
  font-size: 12px;
  float: right;
  margin-top: 15px;
  margin-right: 2%;
  color: #f44 !important;
  text-transform: none !important;
  line-height: 20px !important;
  padding: 0 1rem !important;
  height: auto !important;
}

.PesoCarrello {
  display: block;
  font-weight: 700;
  font-size: 13px;
  margin-left: 45%;
  margin-top: -25px;
  color: #777777;  
  width: 80px;
  height: 30px;    
}

.DisponibileCarrello {   
  width: 30%;
  height: 30px !important;
  background-color: rgb(16, 127, 63) !important;
  margin-left: 5%;
  margin-top: 30px;
  color: white !important;
  border-radius: 30px !important;
  overflow: hidden !important;
  padding: 0 !important;
  font-size: 12px !important;
  line-height: 25px !important;
  cursor: default !important;
}

.PrezzoCarrello {
  float: right;
  font-weight: bold;
  font-size: 18px;  
  margin-top: 52px;
  color: rgb(16, 127, 63);  
}

.TestoGestione {
  margin-left: 3%;
  display: block;
  font-size: 16px;
}

.PrezzoGestione{
  float: right;
  margin-top: -20px;
  margin-right: 3%;
}

#TestoTotale {
  display: block;
  margin-left: 3%;
  margin-top: 2%;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

#PrezzoTotale {
  float: right;  
  margin-right: 3%;
  margin-top: -39px;  
  font-size: 20px;
  font-weight: bold;
}

#NavStepCarrello {
  background-color: #f6f6f6;
  text-align: center;
  margin-top: 3%;
}

#ButtonAggiorna {
  float: right;
  margin-right: 7.5%;
  margin-bottom: 3%;
  width: 30%;
  height: 40px;
  color: white;
  background-color: rgb(16, 127, 63);
  font-family: verdana;
  font-weight: bold;
  padding: 0;  
}

#CollectionBianca {
  background-color: white;
}

.TestoSottotitolo {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: bold;
  color: black;  
}

#TestoIndirizzo {
  margin-left: 3%;
}

#SelettoreData {
  margin-left: 3%;
  margin-bottom: 10px;
}

[type="radio"]:checked + label::after, .with-gap[type="radio"]:checked + label::after {
    background-color: rgb(16, 127, 63) !important;
}

[type="radio"]:checked + label::after, .with-gap[type="radio"]:checked + label::before, .with-gap[type="radio"]:checked + label::after {
    border: 2px solid rgb(16, 127, 63) !important;
}

#AreaTesto {
  height: 100px;
  width: 100%;
  border: 2px solid #5a5a5a;
  border-radius: 2px;
}

.LabelOpzioni {
  color: #777;
  font-weight: bold;
  font-family: "Roboto";
}

.LabelRegalo {
  color: #777;
}

[type="radio"]:checked + label{
  color: rgb(16, 127, 63);
}

#ContainerIMGacquisto {
  display: inline-block;
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
}

#IMGacquisto {
  max-width: 100%;
  max-height: 100%;  
  margin: auto;
  margin-top: 2%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
}

#TestoAcquisto1 {
  text-align: center;
  font-weight: bold;
  font-family: "Roboto";
  font-size: 20px;
  margin-top: 3%;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
}

#TestoAcquisto2 {
  text-align: center;
  font-family: "Roboto";
  margin-left: 3%;
  margin-right: 3%;
}

.SelettoreData {
  display: inline-block !important;
  width: 15%;
  height: 30px;
  margin-left:7.5%;
  margin-bottom: 2%;  ;
  border: 1px solid rgb(204, 204, 204) !important;
  padding: 0;
}

#SelettoreMese {
  width: 35%;  
}

#SelettoreAnno {
  float: right;
  width: 18%;
  margin-right: 7.5%;
}

select:focus {
  outline: none !important;
}

/*/////////////////////////////////DESIDERI///////////////////////////////////*/

.AddCarrelloDesideri {
  background-color: rgb(16, 127, 63) !important;
  color: white;
  font-family: verdana;
  font-weight: bold;
  height: 40px;
  margin-top: 4%;  
  margin-left: 7.5%;
  margin-right: 7.5%;
  padding: 0;
  width: 85%;  
}

#ButtonCancella{
  background-color: #f44;
  color: white;
  font-family: verdana;
  font-weight: bold;
  height: 50px;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  padding: 0;
  width: 85%;
  line-height: 50px;
}

.TestoDisponibileLista {
  color: rgb(16, 127, 63) !important;
  display: inline-block;
  font-size: 20px !important;
  font-weight: bold;
  position: absolute;
  line-height: 25px !important;
  margin-left: 5%;
  margin-top: 50px;
}

/*/////////////////////////////////STORICO ORDINI///////////////////////////////////*/

.FrecciaStorico {
  float: right;  
  margin-top: -21px;
  color: #777 !important;
}

.TestoGrigio {
  color: #777 !important;
  font-size: 14px;
  font-weight: 100;
}

.LabelNero{
  color: black;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 15px;
  position: relative;
}

.TestoSottotitolo2 {
  color: black;
  display: block;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
}

#ContainerTestoOrdine{
  position: relative;
  display: inline-block;  
}

.IMGOrdine {
  vertical-align: top;
  margin-right: 5%;
}

.TestoGrigioBold {
  color: #777;
  font-weight: bold;
  font-size: 16px;
}

/*/////////////////////////////////PROFILO///////////////////////////*/

.TestoSottotitolo3 {
  display: inline-block;
  color: #777;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: bold;  ;
  margin-left: 2%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.FrecciaProfilo {
  color: #777 !important;
  float: right;
  margin-top: 10px;
}

.IconaProfilo {
  color: #777;
  line-height: 0 !important;
  vertical-align: middle;
  margin-top: -5px;
}

/*//////////////////////////////AZIENDE///////////////////////////*/

.TestoSottotitolo4{
  color: #777;
  display: inline-block;
  font-family: "Roboto";
  font-size: 13px;
  margin-bottom: 10px;
  margin-left: 2%;
  margin-top: 10px;
}

.ContainerIMGAziende {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  height: 50px;
  width: 50px;
}

.FrecciaAziende {
  color: #777 !important;
  float: right;
  margin-right: -10px;
  margin-top: 10px;
}

#mapid {
  height: 180px;  
}

/*////////////////////////////////LISTA CATEGORIE//////////////////////////*/

.FrecciaCategorie {
  color: #777 !important;
  float: right;
  margin-top: 10px;
}

/*///////////////////////////BENVENUTO///////////////////*/

.GoHome {
  background-color: rgb(16, 127, 63) !important;
  font-weight: bold;
  height: 40px;
  line-height: 55px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  margin-bottom: 3%;
  padding: 3px;
  width: 90%;
}


#cont{
  background-color: #e60000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;  
  font-weight: bold;
  text-align: center;
  float: right;
  margin-top: 30px;
  margin-right: 2%;
  position: relative;  
}

#spinner {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    margin: -24px 0 0 -24px;
  }


